footer {
  border-top: 1px solid #cecece;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #cecece;
  margin-top: 10px;
}
footer ul {
  margin: 12px auto;
}
footer ul li {
  list-style-type: none;
}
footer ul span {
  color: #ffffff;
  margin-left: 8px;
  margin-right: 8px;
}
