body {
  color: #e4e6eb;
  background-color: #1c1e21;
}
.maxHeight {
  height: 100vh;
}
.marginT {
  margin-top: 20px;
}
.category,
.contact {
  background-color: #1c1e21;
  color: #e4e6eb;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.profilSection {
  background-color: #232527;
}
.headerProfil {
  box-sizing: border-box;
  height: 120px;
  color: #e4e6eb;
}
